shellingham==1.5.4
GitPython==3.1.45
requests==2.32.5
rich==14.2.0
tokenizers==0.22.1
urllib3==2.5.0
pytz==2025.2
toml==0.10.2
pyarrow==22.0.0
numpy==2.3.4
grpclib==0.4.8
anyio==4.11.0
propcache==0.4.1
sentry-sdk==2.44.0
multidict==6.7.0
click==8.3.0
idna==3.11
regex==2025.11.3
certifi==2025.10.5
aiohttp==3.13.2
tqdm==4.67.1
zstandard==0.25.0
sigtools==4.0.1
tzdata==2025.2
cbor2==5.7.1
httpcore==1.0.9
pydantic==2.12.4
fsspec==2025.10.0
charset-normalizer==3.4.4
sympy==1.14.0
markdown-it-py==4.0.0
platformdirs==4.5.0
watchfiles==1.1.1
h11==0.16.0
gitdb==4.0.12
sniffio==1.3.1
accelerate==1.11.0
setuptools==80.9.0
typer==0.20.0
mdurl==0.1.2
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
PyYAML==6.0.3
multiprocess==0.70.18
pydantic_core==2.41.5
frozenlist==1.8.0
protobuf==6.33.0
typing_extensions==4.15.0
aiosignal==1.4.0
types-certifi==2021.10.8.3
packaging==25.0
hf-xet==1.2.0
Jinja2==3.1.6
pandas==2.3.3
fla-core==0.4.0
MarkupSafe==3.0.3
dill==0.4.0
datasets==4.4.1
Pygments==2.19.2
aiohappyeyeballs==2.6.1
flash-linear-attention==0.4.0
attrs==25.4.0
transformers==4.57.1
einops==0.8.1
httpx==0.28.1
filelock==3.20.0
h2==4.3.0
smmap==5.0.2
hpack==4.1.0
modal==1.2.1
types-toml==0.10.8.20240310
synchronicity==0.10.2
psutil==7.1.3
typing-inspection==0.4.2
annotated-types==0.7.0
safetensors==0.6.2
six==1.17.0
wandb==0.23.0
yarl==1.22.0
hyperframe==6.1.0
huggingface-hub==0.36.0
xxhash==3.6.0
torch==2.9.0
